body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

div.top {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.events, div.empty-events, div.query, div.top {
  text-align: start;
  padding: 0 .75rem;
}

div.events > .at {
  margin-top: 1.5rem;
}

div.events > .at > .event {
  margin-bottom: .2rem;
}
